<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary px-3">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand">Freelancer Marketplace</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item"><a [routerLink]="['/profile', username()]" routerLinkActive="active" class="nav-link">Profile</a></li>
            <li class="nav-item"> <a routerLink="/proposal-inbox" class="nav-link" routerLinkActive="active" >Proposal Inbox</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" >Active Projects</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" >Messages</a> </li>
            <li class="nav-item"> <a routerLink="/errors" routerLinkActive="active" class="nav-link">Errors</a> </li>
        </ul>

        @if (accountService.currentUser()) {
        <div dropdown class="dropdown">
            <img class="me-2" src="{{accountService.currentUser()?.photoUrl || './assets/user.png'}}"
                alt="user main image">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome
                {{accountService.currentUser()?.username | titlecase}}</a>
            <div *dropdownMenu class="dropdown-menu">
                <a [routerLink]="['/profile', username()]" class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        }

        <!-- @if (!accountService.currentUser()) {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex ms-auto">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
                type="password">
            <button class="btn btn-success" type="submit">Login</button>
        </form> 
        } -->
    </div>
</nav>